@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700|Montserrat:400,500,700');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Cabin", sans-serif;
  /* background-image: url("https://i.postimg.cc/zBf0kpnG/background.png"); */
  background-image: url("img/bg-img/loginbg.jpg");
  font-size: 1.8rem;
  min-height: 100vh;
}

.container {
  background: rgba(43, 43, 43, 0.8);
  margin: auto;
  width: 40rem;
  height: 100%;
  display: block;
  align-items: center;
  position: relative;
  top: 70px;
}

.signup-container,
.signin-container {
  padding: 3rem;
  height: 400px;
}
.signin-container {
  text-align: right;
}
h2 {
  color: #fff;
  margin: 1rem 0;
}

p {
  color: #bbb;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.forgot__password-container {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
button {
  padding: 1rem 2rem;
  border: none;
  color: rgb(24, 24, 24);
  background: #ddd;
  cursor: pointer;
  border-radius: 2px;
  outline: none;
  transition: all 0.3s;
}

button:hover {
  background: #fff;
}

/* button:active {
  transform: translatey(2px);
} */

.overlay {
  position: absolute;
  top: -2rem;
  left: 0;
  width: 100%;
  margin: 0;
  transition: all 1s;
}

.form-container {
  background: #fff;
  padding: 5rem;
  height: 40rem;
  border-radius: 4px;
  width: 100%;
  transition: all 1s;
}

h3 {
  color: rgb(65, 65, 65);
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: purple;
}

a:hover {
  color: blueviolet;
}
.input-container {
  margin: 1.5rem 0;
}
input {
  padding: 1rem 2.4rem;
  border-radius: 2px;
  border: 1px solid rgb(128, 128, 128);
  outline: none;
  width: 100%;
}

.form-button {
  background: purple;
  color: #fff;
  outline: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
}
.form-button:hover {
  background: blueviolet;
}
.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signin-form {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
  opacity: 0;
}

.slide-right {
  top: 50%;
}

.slide-left {
  top: 0;
}

.social-container {
  text-align: center;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 4rem;
  width: 4rem;
}
